footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--bright-turqoise);
    color: var(--white);
    font-family: var(--font);
}

#github-icon {
    height: 45px;
    width: 50px;
}

#linkedin-icon {
    height: 45px;
    width: 45px;
}
