.section-title {
    font-family: 'Parsienne';
    font-style: italic;
    font-size: 48px;
    color: #88ccef;
    background-color: white;
}

.project-photo {
    border: 8px solid #88ccef;
}

#projects {
    background-color: #dff1fd;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
}

.project-btn {
    font-family: 'Parsienne';
    font-style: italic;
    font-size: 25px;
    color: #88ccef;
    padding: 25px;
    text-decoration: none;
}
