.form {
    margin: 50px;
}

.form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

#contact-message {
    font-family: 'Sarala';
}

#contact {
    background-color: #dff1fd;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
}

#contact-section {
    background-color: white;
    padding: 25px;
    position: absolute;
    z-index: 1;
    margin-left: 450px;
    margin-right: 450px;
}

#submit {
    margin-left: 350px;
    margin-right: 350px;
    background-color: #dff1fd;
}